    <!-- Head Start -->
    <%- include('../../partials/head') %>

<body>
    <!-- Spinner Start -->
    <%- include('../../partials/spinner') %>

    <!-- Navbar Start -->
    <%- include('../../partials/navbar') %>

    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">Feedbacks</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="/">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-white" href="#">Extras</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Feedbacks</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- Testimonial Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="text-center">
                <h6 class="section-title bg-white text-center text-primary px-3">Feedbacks</h6>
                <h1 class="mb-5">O que nossos estudantes dizem!</h1>
            </div>
            <div class="owl-carousel testimonial-carousel position-relative">
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-1.jpg" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Sara de Souza</h5>
                    <p>Estudante formada</p>
                    <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">"Amei demaaais as aulas, tudo muuito muito bom! Very good!"</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-2.jpg" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">João Silva</h5>
                    <p>Aluno em formação</p>
                    <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">"Simplesmente o método Tenet de ensinar! Incrivelmente didático e excepcional em suas metodologias!"</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-3.jpg" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Kaik Ribeiro</h5>
                    <p>Aluno Formado</p>
                    <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">"Aulas sensacionais, agradeço sempre por ter escolhido ser Tenet! Venha ser você também!"</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-4.jpg" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Thalytta Rhobertta </h5>
                    <p>Mãe de uma aluna Tenet</p>
                    <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">"Melhor escolha que fiz para a vida de minha filha... Tenet é sempre a melhor escolha."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
        
    <!-- Footer Start -->
    <%- include('../../partials/footer') %>

</body>
</html>